<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Beautifish</display-name>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.beautifish.api.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.beautifish.api.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryAllProduct</servlet-name>
    <servlet-class>com.beautifish.api.QueryAllProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryAllProduct</servlet-name>
    <url-pattern>/QueryAllProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyProduct</servlet-name>
    <servlet-class>com.beautifish.api.BuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProduct</servlet-name>
    <url-pattern>/BuyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMyProduct</servlet-name>
    <servlet-class>com.beautifish.api.QueryMyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMyProduct</servlet-name>
    <url-pattern>/QueryMyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>INMoney</servlet-name>
    <servlet-class>com.beautifish.api.INMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>INMoney</servlet-name>
    <url-pattern>/INMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryInMoney</servlet-name>
    <servlet-class>com.beautifish.api.QueryInMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInMoney</servlet-name>
    <url-pattern>/QueryInMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OUTMoney</servlet-name>
    <servlet-class>com.beautifish.api.OUTMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OUTMoney</servlet-name>
    <url-pattern>/OUTMoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryOutMoney</servlet-name>
    <servlet-class>com.beautifish.api.QueryOutMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOutMoney</servlet-name>
    <url-pattern>/QueryOutMoney</url-pattern>
  </servlet-mapping>
</web-app>